In [ ]:
import pandas as pd

In [5]:
import pandas as pd 

def get_dataframe(year):
    path = 'names/'
    df = pd.read_csv(f'{path}yob{year}.txt', header=None, names=['Names', 'Gender', 'Count'])
    return df

# get_dataframe('2018')

          Names Gender  Count
0          Emma      F  18688
1        Olivia      F  17921
2           Ava      F  14924
3      Isabella      F  14464
4        Sophia      F  13928
...         ...    ...    ...
32028     Zylas      M      5
32029     Zyran      M      5
32030     Zyrie      M      5
32031     Zyron      M      5
32032     Zzyzx      M      5

[32033 rows x 3 columns]

In [63]:
def count_top3(years_list):
    zero_year = get_dataframe(years_list[0])
    if len(years_list) > 1:
        for year in years_list[1:]:
            zero_year = pd.concat([zero_year, get_dataframe(year)])
    df = zero_year.sort_values('Names')
    df = df.groupby(['Names']).sum().sort_values('Count', ascending=False)[:3]
    return df.index.tolist()     
    
count_top3([1900, 1950, 2000])

['James', 'John', 'Robert']

In [64]:
count_top3([1880])

['John', 'William', 'Mary']

In [92]:
def count_dynamics(years_list):
# years_list = [1918, 2018]
    dynamics_dict = {
        'F': [],
        'M': []
    }
    for year in years_list:
        df = get_dataframe(year)
        gender_df = df.groupby(['Gender']).sum()
     #   print(gender_df)
        dynamics_dict['F'].append(gender_df['Count']['F'])
        dynamics_dict['M'].append(gender_df['Count']['M'])
    return dynamics_dict

count_dynamics([2000, 2002, 2004])

{'F': [1815295, 1795973, 1835091], 'M': [1963202, 1940525, 1983722]}